<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <script src='https://www.bing.com/api/maps/mapcontrol?callback=loadMap&key=AmMjEr3P3foenzC7FGk-jrW4IUcSCXuEE9jAWVUhU1oa_u9ycGGzp0qeM8Mwb3zi' async defer></script>
  <script src="/assets/js/map.js"></script>
  <link rel="stylesheet" href="/assets/css/sheets.css">
</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>
